.na {
  display: flex;
  padding: 3px;
  background-color: rgb(177, 187, 187);
  height: 125px;
}

.na2 {
  display: flex;
  padding: 3px;
  background-color: rgb(177, 187, 187);
  height: 125px;
}

.responsive-elements {
  display: flex;
  padding: 3px;
  background-color: rgb(177, 187, 187);
  margin: 0;
}

.navlogo {
  padding: 0;
  cursor: pointer;
}

.navlink{
  padding: 15px;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;
}

.link:hover{
  color: #000000;
}

.navlink-button{
  margin-left: auto;
  padding: 15px;
  display: flex;
  align-items: center;
}

.navlink-toggle-button{
  display: none;
}

.link {
  color: inherit;
}

i.fas.fa-bars{
  visibility: hidden;
}

.navlink-toggle-button{
  display: flex;
  justify-content: end;
  padding: 15px; 
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 1000px) {
  .collapse {
    visibility: hidden;
  }
  .na {
    display: block;
    height: 400px;
  }
  .success .responsive-elements {
    display: block;
  }
  .danger .responsive-elements {
    display: none;
  }
  i.fas.fa-bars{
    font-size: 30px;
    visibility: visible;
    margin-right: 15px;
    cursor: pointer;
  }
  .navlink-toggle-button{
    display: flex;
    justify-content: end;
    padding: 15px; 
  }
  .show-menu {
    display: block;
  }
  .dont-show-menu {
    display: none;
  }
  .change-height {
    height: 125px;
  }
}